.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.image {
  width: 100;
  aspect-ratio: 1/1;
}

.name {
  font-size: 20px;
}
